#admin-main-content{
    background-image: url('../assets/pictures/back2.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 82%;
    height:100vh;
    position: absolute;
    overflow-y: scroll;
    left: 18%;
    padding: 100px;
    color: white;
}

#admin-main-content h1{
    color: rgb(206, 151, 22);
    font-size: xx-large;
}

#admin-main-content .welcome-content{
    color: white;
    font-size: x-large;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#admin-main-content .current-time{
    background-color: rgb(206, 151, 22);
    border-radius: 20px;
    padding: 10px;
    color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#admin-main-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#admin-main-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}