#admin-main-content{
    background-image: url('../assets/pictures/back2.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 82%;
    height:100vh;
    position: absolute;
    overflow-y: scroll;
    left: 18%;
    padding: 100px;
    color: white;
}

#admin-main-content h1{
    color: rgb(206, 151, 22);
    font-size: xx-large;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#admin-main-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#admin-main-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}