*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #menu{
     position: fixed;
     top: 0;
     width: 100%;
     background: rgb(29, 28, 28);
     display: flex;
     flex-direction: column;
} 
#menu #user-details{
    display: flex;
    justify-content: right;
    margin: 10px 30px 0 0;
    font-size: x-large;
}
#menu #user-names{
    color: rgb(206, 151, 22);
}
#header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
}
#logo img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}
ul#nav-links{
    display: flex;
    /* gap: 0%; */
    float: right;
    list-style: none;
    align-items: center;
}
ul#nav-links li{
    width: fit-content;
    width: 100px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: larger;
}


ul#nav-links .normal-links:hover{
    cursor: pointer;
    text-decoration: underline;
}

#products_categories{
    background: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    right: 300px;
    /* display: none; */
}
ul#products_categories li{
    list-style: none;
    display: block;
    font-size: large;
    text-align: left;
    margin: 10px;
}
ul#products_categories li a{
    color: rgb(4, 10, 58);
}
ul#products_categories li:hover{
    text-decoration: underline;
}
ul#nav-links #login{
    background: white;
    color: rgb(4, 10, 58);
    border-radius: 20px;
    padding: 4px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}
ul#nav-links #register{
    background: rgb(206, 151, 22);
    color: white;
    border-radius: 20px;
    padding: 4px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}
ul#nav-links #register a:hover,ul#nav-links #login a:hover{
    opacity: 0.7;
}
#sign{
    display: flex;
    justify-content: center;
    align-items: center;
   background: white;
   border-radius: 20px;
   height: fit-content;
   margin-left: 30px;
}
#sign-out{
    display: flex;
    justify-content: center;
    align-items: center;
   background: white;
   border-radius: 20px;
   height: fit-content;
   margin-left: 30px;
   padding: 0 15px;
}
#sign-out:hover{
    cursor: pointer;
}
#sign .links{
    color: white;
}
#sign .log-links{
    color: black;
}
#login .icons{
    color:  rgb(206, 151, 22);
    font-size: larger;
    margin: 0 3px;
}
#register .icons{
    color: black;
}
#cart-orders{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    color: white;
    width: fit-content;
}
#cart, #orders{
    display: flex;
}
ul#nav-links #cart-orders li{
    color: white;
    width: 130px;
    display: block;
}