#view-products{
    background-image: url('../assets/pictures/back2.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 82%;
    height:100vh;
    position: absolute;
    overflow-y: scroll;
    left: 18%;
    padding: 50px 0;
    color: white;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
#view-products::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#view-products {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#view-products .products-list{
    width: 96%;
    /* height: 100%; */
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    /* background-color: black; */
    border-radius: 20px;
}

#view-products .products-category{
    background-color: black;
    margin: 20px;
    border: 1px solid rgb(206, 151, 22);
    border-radius: 20px;
    padding: 10px;
}

#view-products .products-category h2{
    text-align: left;
    margin-left: 20px;
    color: rgb(206, 151, 22);
    font-size: xx-large;
}

#view-products .product{
    background-color: black;
    width: calc(30% - 20px);
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}
 .product img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
#view-products .productBtns button{
    width: 80px;
    margin: 5px;
}
#view-products .productBtns .editBtn{
    background: rgb(206, 151, 22);
}
#view-products h1{
    color: rgb(206, 151, 22);
    font-size: xx-large;
    text-align: center;
}
#view-products .productBtns .deleteBtn{
    background: rgb(226, 124, 124);
}

#view-products .no-products{
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
    color: rgb(206, 151, 22);
}

#view-products .products-img{
    width: 160px;
    height: auto;
    border: 20px;
}
.products-table {
    width: 97%;
    border-collapse: collapse;
    margin: 20px;
}

.products-table th, .products-table td {
    border: 1px solid #ddd;
    padding: 5px;
    width: 15%;

}
.products-table th:last-child, .products-table td:last-child{
    width: 20%;
}

.products-table th {
    text-align: center;
}
.product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.edit-form {
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 260px;
    z-index: 2000;
}

.edit-form form div {
    margin-bottom: 10px;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: larger;
    margin-left: 30px;
}

.edit-form input, .edit-form textarea {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.edit-form input{
    height: 40px;
}
 .edit-form textarea{
    height: 60px;
 }
.edit-form button {
    margin-right: 10px;
}

.edit-form .save-update{
    background-color: rgb(206, 151, 22);
    color: black;
}