#view-products{
    background-image: url('../assets/pictures/back2.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 82%;
    height:100vh;
    position: absolute;
    overflow-y: scroll;
    left: 18%;
    padding: 50px 0;
    color: white;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
#view-products::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#view-products {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#view-products .products-list{
    width: 96%;
    /* height: 100%; */
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    /* background-color: black; */
    border-radius: 20px;
}

#view-products .products-category{
    background-color: black;
    margin: 20px;
    border: 1px solid rgb(206, 151, 22);
    border-radius: 20px;
    padding: 10px;
}

#view-products .products-category h2{
    text-align: left;
    margin-left: 50px;
}

#view-products .product{
    background-color: black;
    width: calc(30% - 20px);
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}
 .product img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
#view-products .productBtns button{
    width: 100px;
    margin: 10px;
}
#view-products .productBtns .editBtn{
    background: rgb(206, 151, 22);
}
#view-products h1{
    color: rgb(206, 151, 22);
    font-size: xx-large;
    margin-bottom: 30px;
}
#view-products .productBtns .deleteBtn{
    background: rgb(226, 124, 124);
}

#view-products .no-products{
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
    color: rgb(206, 151, 22);
}

#view-products .products-img{
    width: 160px;
    height: auto;
    border: 20px;
}